<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">

    <div class="add_border">
        <div class="row">
            <div class="col-6">
                Numer regału
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="rackId" [(ngModel)]="rackSpace.rackId">
                    <mat-error *ngIf="myForm.controls.rackId.invalid && myForm.controls.rackId.touched">
                        Waga jest wymagana
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                Szerokość
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="width" [(ngModel)]="rackSpace.width">
                    <mat-error *ngIf="myForm.controls.width.invalid && myForm.controls.width.touched" translate>
                        Szerokość jest wymagana
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                Wysokość
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="height" [(ngModel)]="rackSpace.height">
                    <mat-error *ngIf="myForm.controls.height.invalid && myForm.controls.height.touched" translate>
                        Wysokość jest wymagana
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-6">
                Długość
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="length" [(ngModel)]="rackSpace.length">
                    <mat-error *ngIf="myForm.controls.length.invalid && myForm.controls.length.touched" translate>
                        Długość jest wymagana
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                Maksymalna Waga
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="maxWeight" [(ngModel)]="rackSpace.maxWeight">
                    <mat-error *ngIf="myForm.controls.maxWeight.invalid && myForm.controls.maxWeight.touched" translate>
                        Maksymalna waga jest wymagana
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                Priorytet
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="priority" [(ngModel)]="rackSpace.priority">
                    <mat-error *ngIf="myForm.controls.priority.invalid && myForm.controls.priority.touched" translate>
                        Priorytet jest wymagany
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row" style="margin-left:90%;float: right;">
                <button type="submit" class="btn btn-success btn-sm">Zapisz</button>
            </div>
        </div>

    </div>
</form>