<nav *ngIf="!main" class="navbar navbar-expand-lg navbar-dark bg-dark  ">
    <!--
    <a class="navbar-brand newFont" [routerLink]="['/']">System fakturownia online</a>
  -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapseExample">




        <ul *onlyForRoles="['ROLE_ADMIN']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/uploadMaterial']" class="nav-item">
                <div>
                    <a class="nav-link newFont ">Dodaj materialy</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_MANAGER']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/supply']" class="nav-item">
                <div>
                    <a class="nav-link newFont ">Dostawa</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_ADMIN']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/uploadRackSpace']" class="nav-item newFont">
                <div>
                    <a class="nav-link newFont">Wgraj miejsca regałowe</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_ADMIN','ROLE_USER','ROLE_MANAGER']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/materials']" class="nav-item">
                <div>
                    <a class="nav-link newFont ">Materialy</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_ADMIN','ROLE_USER','ROLE_MANAGER']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/rackSpaces']" class="nav-item newFont">
                <div>
                    <a class="nav-link newFont">Miejsca regałowe</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_ADMIN']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/addRackSpaces']" class="nav-item newFont">
                <div>
                    <a class="nav-link newFont">Dodaj miejsce regałowe</a>
                </div>
            </li>
        </ul>

        <ul *onlyForRoles="['ROLE_ADMIN']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/addMaterial']" class="nav-item newFont">
                <div>
                    <a class="nav-link newFont">Dodaj material</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_ADMIN']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/addUser']" class="nav-item newFont">
                <div>
                    <a class="nav-link newFont">Dodaj użytkownika</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_ADMIN','ROLE_USER','ROLE_MANAGER']" class="navbar-nav mr-auto">

            <li style="cursor:pointer;" *ngIf="isLogged" [routerLink]="['/login']" class="nav-item newFont">
                <div>
                    <a class="nav-link newFont">Wyloguj</a>
                </div>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_USER']" class="navbar-nav mr-auto">
            <li style="cursor:pointer;" *ngIf="isLogged" class="nav-item" [routerLink]="['/item']">
                <a class="nav-link newFont">Magazyn5</a>
            </li>
        </ul>
        <ul *onlyForRoles="['ROLE_USER']" class="navbar-nav mr-auto">
            <li style="cursor:pointer;" *ngIf="isLogged" class="nav-item" [routerLink]="['/reports/actual']">
                <div>
                    <a class="nav-link newFont">Magazyn6</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav " style="float:right">
            <li style="text-align: right; position: right; float:left" *ngIf="!isLogged && !registrationInProgress" class="nav-item newFont">
                <a class="nav-link" [routerLink]="['/registration']">Zarejestruj się</a>
            </li>

            <li style="text-align: right; position: right; float:left" *ngIf="!isLogged" class="nav-item newFont">
                <a class="nav-link" [routerLink]="['/login']">Logowanie</a>
            </li>

        </ul>


        <username-header></username-header>
    </div>
</nav>
<router-outlet></router-outlet>